* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:white;
}

/* Style the header */
.header {
  background-color:lightcoral;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(60, 212, 238);
  text-align: center;
}

/* Style the topnav links */
.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

li {
  text-decoration: none;
}
